<div class="row">
   
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Foto AP.jpeg" class="img-fluid" alt="responsive" id="foto-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="Descripcion">ACERCA DE MI</h1>
            <p>Soy una persona intuitiva y de rápido aprendizaje, que le gusta investigar y aprender.
            Actualmente me encuentro dentro del equipo de Gestión De La Información, donde hago el desarrollo y mantención de reportes.</p>
        </span>
        </div>
    </div>