div{
    background-color: #0297b4;
    background-image: linear-gradient(180deg, #0297b4 0%, #149fb9 69%, #989898 93%, #989898 100%);

   
}

.titulo{
    margin-top: 45px;
    display: inline;
    text-align: center;
    font-weight: bold;
}

h1,h3{
    display: inline;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}