.row{
    background-color: #b4b4b4;
    }
.footer{
    color:rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
}
h6{
    font-size: 15px;
    font-weight: bold;
}


.mail{
    display: inline;
    align-items: center;

}

img{
    width: 30px;
    border-radius: 100%;
    color: #b4b4b4;
            
}
